.center-content {
  text-align: center; /* 中央 */
}


.sketch a img:hover {
  filter: brightness(1.1);
  transform: scale(1.03);
  transition: 0.1s;
}

.box {
  padding:20px;
  margin:30px;
  border:1px solid #333;
  border-radius:10px;
  background:#efefef;
}

@font-face {
  font-family: 'homura-mincho';
  src: url('../fonts/04HomuraM-Medium.woff2') format('woff2'),
       url('../fonts/04HomuraM-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
