.center-content {
  text-align: center; /* 中央 */
}


.sketch a img:hover {
  filter: brightness(1.1);
  transform: scale(1.03);
  transition: 0.1s;
}

ul {
  list-style: none; /* ・を消す */
  padding-left: 0;
}

.box {
  padding:20px;
  margin-bottom:30px;
  margin-left:30px;
  margin-right:30px;
  border-radius:10px;
  background:#261126;
}

@font-face {
  font-family: 'homura-mincho';
  src: url('../fonts/04HomuraM-Medium.woff2') format('woff2'),
       url('../fonts/04HomuraM-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'homura-mincho', 'sans-serif';
  margin: 20;
  color:#fff;
}

header {
  font-family: 'homura-mincho', 'sans-serif';
  margin: 20;
  color:#000;
}
h1 {
    background: #DAB7FF;
}

body{
    background:#3C3040;
}

.border-bottom-1{
    border-bottom: solid 2px #333;
}

.big-link {
    font-size: 32px;
  }

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #F9F1FF;
}

a.btn-border:hover {
  color: #F1DFFF;
  background: #787878;
}

header {
    background: #DAB7FF;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 200px;
    background: #fff;
    padding: 10px;
    border: 2px solid #a5a5a5;
    overflow-y: hidden;
}

.sidebar:hover {
    overflow-y: auto; 
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.content {
    flex: 1;
    padding: 0;
}

iframe {
    width: 95%;
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    border: none;
}

.content iframe {
    display: block;
    margin: 0 auto;
    width: 80%; 
    height: 100vh;
    border: 2px solid #333;
    margin-left: 2%;
}
/* ここから日記ページの調整 */
.diary p {
    line-height: 2.0;
    padding: 25px;
}

.scroll {
  width: 800px; 
  height: 40px; 
  margin: 0px auto;      
  overflow: hidden;       
  background: #f9f9f9; 
  display: flex;
  align-items: center;    
  white-space: nowrap;     
}

.scroll h3 {
  display: inline-block;
  padding-left: 100%;      
  animation: scroll-text 15s linear infinite; 
  margin: 0;
}
